@charset "ISO-8859-1";

#bodyAuthentification{
	background-color: #eeeeee;	
	
}

.formulaire{
	/*****centré horizontalement*****/
margin:auto;
text-align: center; /*pour corriger le fameux bug IE*/
 
/****centré verticalement*****/
position:absolute;
left: 40%;
top: 20%; /*A et B Paramètre à fixer en fonction de la taille du contenu*/

}


.titreForm{
	margin-bottom: 10px;
	font-size : 30px;
	font-weight: bold;
	color: green;
}

.error{
	
	color: red;
	font-weight: bold;

}


